<html>
<head>
    <title>Skills - <%= result[0].name %></title>
</head>
<body>
<h1>Skill</h1>
<ul>
    <li>Skill ID: <%= result[0].skill_id%></li>
    <li>Skill Name: <%= result[0].skill_name %></li>
    <li>Skill Description: <%= result[0].skill_description %></li>
</ul>
</body>

</html>